<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Open Source Project Viewer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <% if (typeof user !== 'undefined') {%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-project-diagram"></i>
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/projects">
              <i class="fas fa-globe"></i>
              All Projects
            </a>
            <a class="dropdown-item" href="/projects/add">
              <i class="fas fa-plus"></i>
              Add Project
            </a>
          </div>
        </li>
      <% } %>
    </ul>
    <div class="ml-auto d-lg-flex d-md-block">
      <% if (typeof user !== 'undefined') { %>
        <form class="form-inline  mr-5" method="POST" action="/user/profile/search">
          <div class="input-group">
            <div class="input-group-prepend d-none d-md-block">
              <i class="input-group-text fas fa-user bg-info text-white"></i>
            </div>
            <input name="username" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-info my-2 my-sm-0" type="submit">Search User</button>
            </div>
          </div>
        </form>
      <% } %>
      <ul class="navbar-nav">
      <% if (typeof user !== 'undefined') { %>
        <li class="nav-item">
          <a href="/user/profile/<%= user.username %>" class="nav-link">
            <i class="fas fa-user mr-1"></i>
            <%= user.username %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">
            Logout
          </a>
        </li>
        <%} else {%>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
      <% } %>
      </ul>
    </div>
  </div>
</div>