<h1>Open Source Project Viewer</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates omnis neque quisquam temporibus veritatis
  perferendis fugiat eveniet iusto pariatur reprehenderit.
</p>
<div class="row">
  <div class="col-md-4">
    <div class="card bg-secondary">
      <div class="card-media mx-auto mt-3">
        <i class="fas fa-3x fa-users"></i>
      </div>
      <div class="card-body text-center">
        <h3>Connect with other develpers</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-secondary">
      <div class="card-media mx-auto mt-3">
        <i class="fas fa-3x fa-comments"></i>
      </div>
      <div class="card-body text-center">
        <h3>Discuss Open Source Projects</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-secondary">
      <div class="card-media mx-auto mt-3">
        <i class="fab fa-3x fa-github"></i>
      </div>
      <div class="card-body text-center">
        <h3>Find Github Repositories</h3>
      </div>
    </div>
  </div>
</div>


