<h1>All Projects</h1>
{{#each projects}}
<div class="card bg-secondary mb-2">
  <div class="card-body">
    <h1>{{title}}</h1>
    <a href={{github}}>
      <i class="fab fa-github"></i>
      GitHub
    </a>
    <h3>Author: {{username}}</h3>
    <p>{{description}}</p>
  </div>
</div>
{{/each}}